.custom-deck-data {
  position: fixed;
  display: grid;
  width: 100%;
  max-height: 30%;
  bottom: 0;
  left: 0;
  padding: 0 5rem 2rem;
  overflow-y: auto;
  font-size: 1.3rem;
  border-radius: 2px;
  background: rgba(#111, 0.99);
  grid-template-columns: 40% 1fr;
  box-shadow: #111 0.2rem 1rem 4rem;
  color: #e0e0e0;
  z-index: 10;
  gap: 6rem;
  transition: all 0.2s;

  &__title {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1.5rem 0 0.5rem;
    font-size: 1.5rem;
    color: crimson;
    font-weight: 500;
    border-bottom: 2px solid crimson;
    position: absolute;
    display: block;
    background: rgba(#111, 0.99);
    top: 0;
  }

  .data-grid {
    display: grid;
    gap: 1rem;
    padding: 1rem 0.5rem;
  }

  .main-data {
    display: grid;
    padding-top: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 4rem;
    align-items: center;
    column-gap: 3rem;

    .data-grid {
      grid-template-columns: auto 4.5rem;

      span:last-of-type {
        padding-left: 0rem;
        border-left: 1px solid crimson;
        text-align: right;
      }
    }
  }

  .secondary-data {
    padding-top: 5rem;
    .data-grid {
      grid-template-columns: 1fr;
    }
  }

  .effect {
    border-bottom: 1px solid #e0e0e0;

    &:last-of-type {
      margin-bottom: 0;
    }

    &--placeholder {
      opacity: 0.3;
      padding: 1.3rem 0.4rem;
    }
  }

  .minimize-deck-data-button {
    font-size: 7rem;
    position: absolute;
    top: 2rem;
    right: 5rem;
    height: 0rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: 0;
    color: white;
    cursor: pointer;
  }
}

.is-minimized {
  max-height: 5rem;
  overflow-x: hidden;
  .minimize-deck-data-button {
    font-size: 4rem;
  }
}
