.custom-deck {
  &__title {
    color: white;
    position: fixed;
    top: 7.5rem;
    left: 5rem;
    width: max-content;
    font-size: 1.5rem;
  }

  &__grid {
    position: fixed;
    display: grid;
    grid-template-rows: repeat(15, 3.5rem);
    align-items: baseline;
    gap: 0.8rem;
    height: 787px;
    min-width: 33rem;
    top: 10rem;
    left: 5rem;
  }

  & .skeleton {
    .card {
      background-color: #444;
    }
  }

  .card {
    height: 3.5rem;
    width: 33rem;
    color: white;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right 25%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid rgba(#e0e0e0, 0.15);

    &__index {
      margin-right: 1rem;
    }
  }
}

.card-collection {
  &__grid {
    display: grid;
    width: max-content;
    margin: auto;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    gap: 2rem;
  }

  .card {
    height: 325px;
    width: 215px;
    color: white;
    padding: 10% 7.5%;
    border: 1px solid crimson;
    border-radius: 5px;
    display: grid;
    grid-auto-rows: max-content;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-color: crimson;
  }
}

.card {
  &__title {
    margin-bottom: 0.6rem;
  }

  &__type {
    margin-bottom: 4rem;
  }

  &__effect {
    position: relative;
    color: transparent;
  }
}

.dragging-is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.list-move {
  transition: transform 0.5s;
}
