.deck-builder {
  height: calc(100% - 5rem);
  width: 100%;
}

.search-wrapper {
  position: fixed;
  left: 50%;
  width: 25%;
  height: 5rem;
  transform: translateX(-50%);
  z-index: 1;

  input {
    width: 100%;
    height: 3rem;
    padding: 0.25rem 1rem;
    margin: 1rem auto;
    background: #4a4a49;
    border: none;
    color: #e0e0e0;
  }
}

.custom-deck {
  &__title {
    color: white;
    position: fixed;
    top: 5.5rem;
    left: 5rem;
    width: max-content;
    font-size: 1.5rem;
  }

  &__grid {
    position: fixed;
    display: grid;
    grid-template-rows: repeat(15, 3.3rem);
    align-items: baseline;
    gap: 0.5rem;
    width: calc(25% - 3rem);
    top: 7rem;
    left: 5rem;
    margin-top: 1rem;
  }

  .card {
    height: 3.3rem;
    width: 100%;
    color: white;
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: right 24%;
    font-size: 1.2rem;
    font-weight: 600;

    &__fading-overlay {
      display: flex;
      width: 100%;
      height: 100%;
      padding-top: 1rem;
      padding-left: 1rem;
      background-image: linear-gradient(
        to right,
        rgba(#000, 1) 29%,
        rgba(#000, 0.9) 35%,
        rgba(#000, 0) 50%,
        transparent
      );
    }

    &__index {
      margin-right: 1rem;
    }

    &:hover {
      box-shadow: 0 0 0 2px white;
      transform: scale(1.025);
    }
  }

  & .skeleton {
    .card {
      background-color: #444;
      padding-top: 1rem;
      padding-left: 1rem;
    }
  }

  .clear-button {
    width: 50%;
    margin-top: 0.25rem;
    padding: 0.5rem 0.5rem;
    border: 0;
    cursor: pointer;
  }
}

.ghost {
  background: #000;
}

.card-collection {
  position: absolute;
  right: 5rem;
  top: calc(7rem + 1rem);
  height: auto;
  padding: 1rem 0rem 17% 0;
  margin-top: -2rem;
  width: 55%;

  &.is-minimized {
    //height: calc(100% - 11rem);
  }

  &__grid {
    height: 100%;
    display: grid;
    width: 100%;
    padding: 0 1rem 0 0;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1rem;
  }

  .card {
    display: grid;
    width: 100%;
    height: 100%;
    position: relative;
    grid-auto-rows: max-content;
    //aspect-ratio: 2.09/3.17;
    border: 0;
    background-color: black;
    color: transparent;
    filter: brightness(120%);

    .card-image {
      will-change: transform;
      transition: transform 0.1s linear, box-shadow 0.1s linear;
      border-radius: 1rem;
      position: relative;
      width: 100%;
      height: auto;
      object-fit: contain;
      top: 0;
      left: 0;
    }
  }
}

.card {
  cursor: pointer;

  &:hover {
    &::after,
    .card-image {
      transform: scale(1.02);
    }
    .card-image {
      box-shadow: 0 0 0 2px white;
    }
  }

  &.dragging-is-disabled &:active {
    .card-image {
      transform: scale(1.01);
    }
  }

  .card-content {
    position: absolute;
    top: 0;
    left: 0;

    &__title {
      margin-bottom: 0.6rem;
    }

    &__type {
      margin-bottom: 4rem;
    }

    &__effect {
      padding-left: 2.7rem;
      padding-top: 1rem;
    }

    &__drag-hidden-effect {
      color: transparent;
    }
  }
}

.dragging-is-disabled {
  &:hover {
    .card-image {
      box-shadow: 0 0 0 2px crimson;
    }
  }
  &:active {
    .card-image {
      transform: scale(1.01);
    }
  }
  &::after {
    content: "- ADDED -";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 1rem;
    background-color: rgba(#4a4a49, 0.75);
    transition: color 0.25s;
  }
  &:hover::after {
    content: "- REMOVE -";
    color: crimson;
  }
}

.disclaimer {
  margin-top: 2.5rem;
  color: #555;
  a {
    color: inherit;
  }
}

.list-move {
  transition: transform 0.5s;
}

// Vertical Tablet / Mobile
@media only screen and (max-width: 992px) {
  // CUSTOM DECK
  .custom-deck {
    &__title {
      left: 1rem;
      font-size: 1.2rem;
    }
    &__grid {
      left: 1rem;
      top: 6.5rem;
      width: calc(40% - 3rem);
      grid-template-rows: repeat(15, 3rem);
      gap: 0;
    }
    .card {
      height: 2.8rem;
      overflow: hidden;

      &:hover {
        box-shadow: none;
      }

      &__fading-overlay {
        padding: 0.75rem 0 0 0.75rem;
      }
    }

    & .skeleton {
      .card {
        padding-top: 0.75rem;
        padding-left: 0.75rem;
      }
    }
  }

  // CARD COLLECTION
  .card-collection {
    position: absolute;
    right: 0.5rem;

    &__grid {
      padding: 0 0.5rem 0 0;
      grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
      gap: 0.5rem;
    }

    .card {
      font-size: 1rem;
    }

    .dragging-is-disabled {
      &:active {
        .card-image {
          transform: none;
        }
      }
      &::after {
        font-size: 1.3rem;
      }
      &:hover::after {
        content: "- ADDED -";
        color: white;
      }
    }
  }

  .card {
    &:hover {
      &::after,
      .card-image {
        transform: none;
      }
      .card-image {
        box-shadow: none;
      }
    }
  }

  .search-wrapper {
    width: 33%;
    height: 5rem;

    input {
      height: 2.5rem;
      padding: 0.25rem 0.75rem;
      margin: 1.25rem auto;
      font-size: 1rem;
    }
  }
}
